<div class="container">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4 registerForm">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group text-center">
                    <h3>Register Now!</h3>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input [(ngModel)]="registerModel.first_name" name="first_name" type="text" id="first_name" class="form-control" formControlName="first_name">
                    <div *ngIf="formErrors.first_name" class="first_name_alert alert alert-danger">
                        {{ formErrors.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input [(ngModel)]="registerModel.last_name" name="last_name" type="text" id="last_name" class="form-control" formControlName="last_name" required>
                    <div *ngIf="formErrors.last_name" class="last_name_alert alert alert-danger">
                        {{ formErrors.last_name }}
                    </div>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!registerForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>